# Dependencias
node_modules/

# Compilación
dist/

# Pruebas
coverage/

# Variables privadas
.env
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/